[2012-12-19 18:13] alnoor opened #2 "Install sentiment"
when I use NPM install sentiment - the installation fails - here  is the output of the install
This install under windows

:\Program Files\NodeJS>npm install sentiment
npm WARN package.json connect@2.0.3 No README.md file found!
npm WARN package.json jade@0.22.0 No README.md file found!
npm WARN package.json stylus@0.24.0 No README.md file found!
npm WARN package.json util@0.4.9 No README.md file

[2013-01-18 19:37] #2 closed, assigned to nobody

[2013-04-12 08:18] gulogulo opened #3 "Negative expressions"
At the moment the sentence "John is not a good person" is evaluated as with a positive score. It would be great if you could implement a "negative expression" detection and proper score.

Thanks

[2013-07-30 21:06] #3 closed, assigned to nobody

[2014-04-19 18:39] monteslu opened #4 "remove async library"
The code that does the scoring of the tokens isn't actually doing anything asynchronously.

Adding an async call for each iteration adds a bit more overhead.

I suggest leaving the callback at the top level, but just doing a simple forEach on the tokens.

[2014-04-21 01:33] #4 closed, assigned to nobody

[2014-04-21 01:36] thisandagain opened #6 "Improve benchmarks"
The current benchmark script is pretty naive. Look at [benchmark.js](https://github.com/bestiejs/benchmark.js) as a potential base.

[2014-04-21 01:37] thisandagain opened #7 "Remove lodash"
All we really need at this point is `extend` (which can be brought in directly) and the `forEach` iterator is best rewritten as a for loop (performance) anyway.

[2014-04-21 01:40] thisandagain opened #8 "Make the async interface optional"
As sentiment is actually a sync method under the hood – the async interface is confusing to some users. This is particularly an issue as it doesn't use `process.nextTick` to ensure that this behavior is normative. The default interface should become sync, while allowing an optional callback which is wrapped using `process.nextTick` to ensure that the async interface works as expected.

[2014-04-21 17:49] #6 closed, assigned to nobody

[2014-04-21 17:49] #7 closed, assigned to nobody

[2014-04-21 17:49] #8 closed, assigned to nobody

[2014-04-28 13:12] chrisspiegl opened #10 "Load sentiment with own wordlist"
I would like sentiment to be able to load external word lists of some kind. One of the following ways would be appreciated:
- call sentiment with the path of the wordlist file (preferred)
- call sentiment with an object / array which contains the wordlist
- call sentiment with an string object which contains the wordlist

I think this would make sentiment much more versatile for other languages (g

[2014-04-28 18:43] #10 closed, assigned to nobody

[2014-08-03 09:46] wooorm opened #12 "Sentiment never reaches certain AFINN words"
The first expression in `tokenize` takes out hyphens, wheres some words with hyphens exist in the AFINN database.

For example, "self-deluded" is mapped to -2, whereas "self" and "deluded" don’t exist in the AFINN database (thus result in a score of 0).

This can be fixed by allowing the hyphen in tokens.

Note: I haven’t tested if other punctuation exists in AFINN words.

[2014-08-16 21:57] wooorm opened #13 "Sentiment fails when `"constructor"` is passed"
In Node:

[code]

This can be fixed by using a `hasOwnProperty` check, instead of just getting it from the AFINN object.

[2014-09-16 05:11] #12 closed, assigned to nobody

[2014-09-16 05:28] #13 closed, assigned to thisandagain

[2014-09-16 06:26] thisandagain opened #15 "Evaluate Alternative Sentiment Lexicons"
The AFINN-111 wordlist was published in 2011. While it works well for quite a large range of tasks, a few lexicons have been published since that may provide improved accuracy. Using this issue as a place to track the evaluation of each. A little background on alternate approaches:

http://sentiment.christopherpotts.net/lexicons.html
http://www.umiacs.umd.edu/~saif/WebPages/Abstracts/NRC-Sentiment

[2014-12-19 10:49] manikumar-v opened #17 "Multiword Sentiments"
Currently sentiment analyzer is not able to findout sentiments properly for multi-word like

Below code is checking only one word at a time not multiple
[code]

Fixed the same in my code.

[2015-02-12 21:21] Philmod opened #18 "Vs Troll?"
Hi,

Could you tell me what would be the differences with this other module you created? https://github.com/thisandagain/troll

Thanks,
Philmod

[2015-05-02 09:36] BClark-Grad-Project commented on #18
The major difference is the use of the AFINN 111 standard.  It is a widely used standard for word weight in sentiment.

[2015-05-02 09:50] BClark-Grad-Project opened #20 "Comparative"
I have only reviewed sentiment analysis in respect to your comparative rate slightly but it seems a negative value like your `Cats are stupid.` example isn't right after referencing this article [Opinion Mining, Sentiment Analysis, and Opinion Spam Detection](http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html).

Can you point me in the direction or explain how this metric applies.

[2015-07-11 16:51] jeffthompson1971 commented on #17
is this fix in base yet?  Also, any chance we can modify the afinn file itself that the moduel uses so that don't have to do it programmatcially all the time.   i'm using this for 'feedback' from agents on home showing (real estate) - gthere are no words for like 'smell', or 'odor' etc.   I'd like to feed in a bunch of real-estate word/ and phrases like 'they did not like' etc.   Can we do this ?

[2015-07-11 17:41] manikumar-v commented on #17
Muliword - It is easily doable. I have the fix and it is working. If you
need I can check-in.

On Sat, Jul 11, 2015, 10:21 PM Jeff Thompson <notifications@github.com>
wrote:

[2015-08-27 19:10] itcropper opened #21 "Missing something for "not""
"Not" can totally flip a string's meaning, but it and other similar adverbs are getting overlooked.

i.e.,

"I am not happy"

scores a 3, when, because of the negative adverb in there preceding the adjective, it should get a score of -3.

[2015-09-11 12:21] jacktuck commented on #20
Would be nice to have in the docs.

The comparative is score/total words

[2015-09-12 10:41] sahilsk commented on #21
same issue here:
"cracto is not good" it's scored 2 where  it should be -2.   :(

[2015-12-21 14:56] thisandagain opened #23 "Negation Support"
`sentiment` is a straightforward implementation of the AFINN wordlist which has some drawbacks including lack of support for negation (e.g. "that is _not_ awesome"). This has become a fairly common question / feature request and something I'd like to support. The major questions in my mind are:
- What are some successful approaches to negation in other sentiment analysis algorithms?
- Where do we

[2015-12-21 14:56] thisandagain commented on #17
Tracking n-grams and negation in #23

[2015-12-21 14:56] #17 closed

[2015-12-21 14:57] thisandagain commented on #21
Tracking in #23

[2015-12-21 14:57] #21 closed

[2015-12-21 15:01] thisandagain opened #24 "Emoji Support"
The AFINN wordlist is missing a fairly critical piece of contemporary discourse: the emoji. I'd like to add emoji support to sentiment. Major questions:
- Do any approaches to evaluating the sentiment of emoji exist?
- How do we tokenize emoji?
- Should this be an "opt-in" feature?
- How do we determine the accuracy of such an implementation?

[2015-12-22 00:42] thisandagain commented on #23
A few relevant references:
- [Recognizing contextual polarity in phrase-level sentiment analysis](http://dl.acm.org/citation.cfm?id=1220619)
- [A survey on the role of negation in sentiment analysis](http://dl.acm.org/citation.cfm?id=1858970)
- [The effect of negation on sentiment analysis and retrieval effectiveness](http://dl.acm.org/citation.cfm?id=1646241)
- [Lexicon-Based Methods for Sentimen

[2016-01-21 20:35] wltsmrz opened #35 "AFINN phrases do not register"
[code]
[code]

[2016-01-22 16:12] wltsmrz commented on #35
Ah, already tracked https://github.com/thisandagain/sentiment/issues/23

[2016-01-22 16:12] #35 closed

[2016-02-20 18:26] svzosorio opened #50 "Spanish"
Hello, actually for support your sentiment algorithm my api translate spanish to english and response a phrase in english, but I need to support spanish lenguage, The process is add the spanish words in AFINN.txt or I need to add in other places?.

Thanks

[2016-02-26 23:10] jamesdwilson opened #52 "Update AFINN-111"
https://github.com/fnielsen/afinn/tree/master/afinn/data

[2016-02-28 21:41] thisandagain commented on #52
Thanks for the reminder!

[2016-03-18 13:59] bobbybee commented on #50
(No soy @thisandagain pero creo que este tiene razón)

Sí, la idea principal es que todas las palabras ingleses son en AFINN.txt, con sus tantos sentimentales. Si construyera un archivo nuevo con las palabras españolas, pudiera usar este proyecto con frases españoles.

Es posible que hay que hacer una cosa o dos más, pero pienso que no. :smile:

¡Buena suerte!

[2016-03-18 14:03] bobbybee commented on #50
Oh, también, cuando termine con AFINN.txt, hay que executar el archivo build/index.js para actualizar el proyecto.

[2016-04-20 16:06] svzosorio commented on #50
@bobbybee Lo que hice para solucionarlo fue crear un archivo json e inyectarlo al proyecto como dicen las instrucciones para insertar nuevas palabras, y la traducción la hice con un script que me traducía cada palabra del JSON actual con bing, pero ya sabrás que el resultado no fue óptimo.

Acá el ejemplo de cómo lo hice y lo expuse en una api https://github.com/moreliahacks/api-sentimental-langua

[2016-04-20 21:55] bobbybee commented on #50
@svzosorio :-)

[2016-05-14 23:58] thisandagain commented on #50
Thanks for sharing your approach @svzosorio and thanks for your help @bobbybee !

[2016-05-14 23:58] #50 closed

[2016-06-30 11:37] joneslloyd opened #61 "AFINN error"
I keep getting the following error when I try to use your package:
[code]

The JSON file in question looks to be correct though..

[2016-06-30 11:45] joneslloyd commented on #61
My bad!

[2016-06-30 11:45] #61 closed

[2016-09-19 04:40] geekodour opened #85 "Certain words are being modified by the regex pattern match, leading to inaccurate scores."
I was testing the the the library with the string **"I'll be the one who killing the buy guys",**
So, the replacement text `.replace(/[^a-z0-9á-úñäâàéèëêïîöôùüûœç\-\' ]+/g, '')` in tokenize.js is chancing "**I'll**" to **"ill"** and killing and ill addup and give a more negative score.

The change I made works for me, I did this `.replace(/[^a-z0-9á-úñäâàéèëêïîöôùüûœç\-\' ]+/g, '')`
but unfortunat

[2016-10-05 19:07] briananderson1222 opened #86 "Project maintained?"
Is this project still being maintained? The negation and emoji support would be helpful if it could be implemented.

[2016-10-07 15:07] thisandagain commented on #86
Yes. I've been hesitant to add negation and emoji support without a plan for how to validate the accuracy of the approach. There are some corpus options that would could look at to provide such a validation set, but it takes much more work to validate a PR that affects the accuracy of the algorithm that it does to write them.

[2016-10-07 15:07] #86 closed

[2016-10-07 18:25] #85 closed

[2016-10-07 18:38] thisandagain commented on #20
Yes, "comparative" is simply `score / tokens` as per:
https://github.com/thisandagain/sentiment/blob/develop/lib/index.js#L58

[2016-10-07 18:38] #20 closed

[2016-10-07 18:39] thisandagain commented on #18
Troll and Sentiment both use AFINN as the underlying dataset. Troll adds a simple NN implementation on top of that which allows you to track the sentiment of a single user longitudinally over time (is this person being mean / rude consistently?).

[2016-10-07 18:39] #18 closed

[2016-10-07 18:45] #52 closed

[2016-11-10 14:08] craigwinstanley commented on #24
Hi

Are the emojis part of the default wordlist or would these need to be added in?
I tried to manually append via code as i don't want to edit the wordlist directly using the following but it doesn't seem to take into account the smiley face ":)"

var analysis = sentiment(post.message, {
                            ':)': 5,
                            ':(': -3,
                            'xxx':

[2016-12-28 16:29] thisandagain commented on #15
Resolved in 85f603f892e9688eb4f328a02d3c0d4f378f34f3

I may look into alternative approaches in the future (which would likely result in a new package / repo), but for simplicity and performance the AFINN list still works well. Closing.

[2016-12-28 16:29] #15 closed

[2017-01-05 06:39] bansalvks opened #92 "Giving wrong result when using negative word in positive way"
Thanks for creating such a nice lib. but I regret to inform you that it is giving wrong results when a negative word is used in a positive manner.
[code]

Please help

[2017-01-06 19:44] Ghostbird commented on #92
Not a bug, the result you receive is a perfectly valid AFINN-165 score. Did you look at the paper that this tool is based on?
You expect the software to actually understand human sentiment, which is not what AFINN-165 does.

[2017-01-07 07:03] bansalvks commented on #92
@Ghostbird Many thanks for replying. I understood what you said and I agree that you are completely right. Could you please guide me in the direction where I could find a solution for my problem, which is to guess the sentiment of the statement (+,-)

[2017-01-07 10:10] Ghostbird commented on #92
I don't know about any other systems that can guess sentiment that are more accurate than AFINN. I think AFINN is generally good enough, but it depends on what you want.
Twitter uses AFINN for trend analysis for example. They know it's sometimes wrong, however even real humans will sometimes mistake the sentiment of a tweet. For Twitter it's more important that it can analyse a lot of tweets quick

[2017-01-07 17:51] thisandagain commented on #92
Thanks for your help with this @Ghostbird

--

@bansalvks If you are interested in Sentiment Analysis algorithms that properly account for part of speech (POS) I recommend you take a look at some of the foundational research on the subject. AFINN / this module are designed to be a high performance heuristic and does not account for negation and many other nuances of human language. Here are few to

[2017-01-07 17:51] #92 closed

[2017-02-10 01:09] thisandagain commented on #24
Good reference paper on the subject:
http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0144296

[2017-02-10 02:05] thisandagain opened #104 "Support additional languages"
From PR #93:

We'll need to establish a set of labeled sentences (see #103 as well as the original AFINN paper) in order be able to determine the accuracy of each translation. While Google Translate is great, sentiment can be pretty subtle and so I wonder if something like Pootle or Transifex might be able to help us source translations of the AFINN word list with greater confidence.

I've been th

[2017-02-10 21:54] thisandagain commented on #23
Resolved in https://github.com/thisandagain/sentiment/commit/fb3dd866b7c10a5aabfe2c47866fa7c2d6da360f

[2017-02-10 21:54] #23 closed

[2017-02-26 16:13] rickyham opened #107 "Smiple Question"
This is a very sweet project!

I would like to know how can I convert the comparative value to a whole number (percentage 100), where 100 is the most positive, 50 is neutral and 0 is most negative?

This can also be out of 10.

[2017-02-26 17:24] thisandagain commented on #107
The comparative score is simply: `sum of each token / number of tokens`. So for example let's take the following:
[code]
That string results in the following:
[code]

Each token has a range between `5` (positive) and `-5` (negative). In this case, `love` has a value of `3`, `allergic` has a value of `-2`, and the remaining tokens are neutral with a value of `0`. Because the string has `9` tokens t

[2017-02-26 17:24] #107 closed

[2017-02-26 19:29] rickyham commented on #107
Thank you very much! That was both fast and precisely detailed 👍.

And just so that I am clear. Taking the example you gave "I love cats, but I am allergic to them." would be:

Scale from 0 to 100
(0.1111111111111111+9)*10

And the value I am after would be: 91.11%

[2017-02-26 19:51] thisandagain commented on #107
Yes. That's correct. To compute this you could do something like:
[code]

but I would recommend diving into JS to get a better sense of the possibilities:
http://jsforcats.com/
https://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742

[2017-02-26 19:56] rickyham commented on #107
Ahh yes, Mr Crockford (read that one already :)). Your awesome thanks! I will be able to build out the functionality, I'm not to shabby at Javascript.

And that function will work for all possibilities, including negatives, and neutral values?

[2017-02-26 19:57] thisandagain commented on #107
Yup. You can give it a try yourself to see how it works in all scenarios.

[2017-02-26 19:58] rickyham commented on #107
Cool – thanks again!

[2017-03-02 03:41] dcworldwide commented on #24
Really good read, excited about the possibilities here.

[2017-03-02 22:16] PaulBGD opened #109 "Support for double negatives"
Doing something like `Seth is not not amazing` gives a negative score.

[2017-03-02 22:23] thisandagain commented on #109
Yup. This is a pretty well known limitation of this approach (AFINN).

[2017-03-02 22:33] PaulBGD commented on #109
Yeah I figured, is there anything realistically that can be done about these things?

[2017-03-06 18:29] EmilStenstrom commented on #104
Here's a fork with a translated version of AFINN: https://github.com/AlexGustafsson/sentiment-swedish

[2017-03-07 14:34] markhighton commented on #109
compatible with Angular 2?

[2017-03-09 06:43] PaulBGD commented on #109
@markhighton I think you might be on the wrong issue..

[2017-03-22 14:15] thisandagain opened #110 "Add Twitter Validation Dataset"
We currently validate against a [dataset from UCI](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences) that includes Amazon, Yelp, and IMDB. This is great but it would be nice to have less formal texts (particularly those that include emoji) included in validation. Various NLP areas are well explored using Twitter as a corpus so I don't think this should be too difficult to track

[2017-03-22 14:15] thisandagain commented on #110
Related to #24

[2017-03-22 14:23] thisandagain commented on #109
@PaulBGD Sorry for the slow reply. Good question. The short answer is "yes" but not with the approach we are taking here. In order to handle double negatives (or "negation") well you really need to understand part-of-speech (PoS) which is not something the approach we take here does. We could of course expand our tokenizer to handle things like "not not" but most double negatives take a more subtl

[2017-03-22 14:23] #109 closed

[2017-03-25 17:50] sseetal opened #111 "Comparative and Score are coming out the same"
I have version 2.1.0 on both my computer and on a server. On my computer it works, on my server, I get the following

{ score: 3,
  comparative: 3,
  tokens: [ 'happy' ],
  words: [ 'happy' ],
  positive: [ 'happy' ],
  negative: [] }

{ score: -2,
  comparative: -2,
  tokens: [ 'sad' ],
  words: [ 'sad' ],
  positive: [],
  negative: [ 'sad' ] }

{ score: 0,
  comparative: 0,
  tokens: [ 'ok' ],

[2017-03-25 19:07] thisandagain commented on #111
@sseetal Can you provide a little more info?

- What versions of node are you running on the server and your computer?
- What are the input strings that are producing these results?

[2017-03-27 12:02] sseetal commented on #111
Thanks for getting back to me.

1. We're using nvm everywhere. node 4.1.1 locally (MAC), v6.9.4 on Server (Ubuntu)
2. The input streams are in the results I posted above (happy, sad, ok) to try and get the three desired results (positive, negative and neutral results)
3. I tried getting the local results (the server results are above). I can now further understand the problem. It's because they ar

[2017-03-27 15:30] sseetal commented on #111
Just to add more context. We're using this to analyze comments left by people in a survey. The whole point is to have a score and an overall score. Ideally a score out of 100. But can't seem to figure out how to calculate a comparable score.

[2017-03-28 02:11] thisandagain commented on #111
[This issue](https://github.com/thisandagain/sentiment/issues/107) includes a thread that covers some of the areas you are asking about including how "comparative scores" work and how to scale / offset them.

TL;DR: Tokens are scored between -5 (highly negative) and 5 (highly positive) with 0 being "neutral". Comparative scores are simply SUM(tokens) / number of tokens. Details can be found in the

[2017-03-28 02:11] #111 closed

[2017-03-28 02:13] thisandagain opened #112 "Improve documentation"
Related to #111 #107

- [ ] Briefly describe the approach taken by AFINN
- [ ] Briefly describe the how the tokenizer works
- [ ] Briefly describe each property of the returned object

[2017-03-29 13:55] thisandagain opened #113 "Allow tokenizer to split emoji without space delimiter"
PR #74 initially incorporated a change which used `spliddit`'s `hasPair` method to split emoji without a "space" or other delimiter. While useful, this change had fairly serious performance consequences. I think it's worthwhile to include this functionality, but it should be optional.

[2017-03-31 23:20] thorbert commented on #113
I think the mod in PR #74 needs a better implementation anyway. We won't only want to split on surrogate pairs. Sometimes we'll probably want to split when there isn't a pair.

[2017-04-01 15:26] thisandagain commented on #24
Resolved in #74. Pending release.

[2017-04-01 15:55] #24 closed

[2017-04-01 15:55] thisandagain commented on #24
Released!

[2017-04-10 20:57] richardgetz opened #115 "Using in the browser"
I don't have much experience with js and I'm probably doing something wrong, but is there a proper way to use this in the browser? I'm trying to pass a variable from php to js in the browser so I can display the sentiment scores on a webpage. I have tried browserify but I when I attempt to output the variable it says undefined. Sorry if this makes no sense, I appreciate any help!

[2017-04-10 22:07] richardgetz commented on #115
While my workaround may not have been the intended way of doing it I was able to get it working by  using browserify and changing the order of variables.

[2017-04-10 22:07] #115 closed

[2017-04-14 12:15] mlucool opened #116 "Misspellings"
Hi,

It is possible to allow for a option which first finds string distances to words in the positive/negative list, and then, if it is above some threshold, categorize it as that word so spelling mistakes and/casual writing style are not lost.

e.g.
[code]

This example `dumbbb` is so close to ```dumb``` that it should be classified as such. Using a library like [natural](https://www.npmjs.com/pa

[2017-04-16 20:49] thisandagain commented on #116
Good question! Using edit distance for matching is a really interesting use case. I'm going to modify your title to make this a little more generic, but this is certainly something I'd be interested in supporting.

[2017-04-17 02:08] jonfurmanski commented on #116
This is exactly what I'm seeing as well with the casual comments and expression social media. +1 for this 👍

[2017-04-17 15:46] mlucool commented on #116
It looks very easy to add. [Here](https://github.com/thisandagain/sentiment/blob/develop/lib/index.js#L54) just allow for an optional callback that supports something like:
[code]

This will allow for a range of middleware that could do things like chain to apply different techniques if a simpler or faster one fails to work

[2017-06-04 03:10] lukechilds opened #117 "Some negative words can be used to emphasize the meaning of another word."
e.g:

[code]

I don't think this is a duplicate of "Support for double negatives" (#109) as it's not really a "double negative", it just contains a word that could in some contexts be negative but in other contexts be used to emphasize the meaning of another word.

Ideally sentiment would understand that in the string `this is fucking good` the word `fucking` is emphasizing the word `good`.

So `f

[2017-06-04 12:26] thisandagain commented on #117
Hi @lukechilds thanks for the question. My response to https://github.com/thisandagain/sentiment/issues/92 I think covers this. Please take a look and let me know if you have any further questions.

[2017-06-04 12:26] #117 closed

[2017-07-10 19:44] kubawolanin commented on #104
And here's a fork with a Polish version of AFINN: https://github.com/kubawolanin/sentiment-polish 😉
Thank you for your amazing work!

[2017-07-11 12:14] thisandagain commented on #104
Amazing! Thanks for sharing @EmilStenstrom and @kubawolanin. 😄

[2017-07-15 11:12] Ekliptor commented on #104
What exactly needs to be changed to add a language?
I'm thinking about adding German.

If it's just a matter of translating the build/AFINN.json file: Wouldn't it be better to keep it all in one project instead of forking it? And then adding an API call so the user can set the language when loading the library.

[2017-07-28 15:48] tuxton commented on #116
A different approach of this, could be filter the words with a spellchecker like this https://github.com/atom/node-spellchecker I dont know if this could attempt with the benchmarks but in my case would be great in order to apply another filters like gender guessing and topic classification.

Cheers!

[2017-08-31 01:26] xhinker opened #119 "Could you explain what is the comparative value, and how it is computed"
Could you explain what is the comparative value, and how it is computed

[2017-09-01 20:49] thisandagain commented on #119
[This issue](https://github.com/thisandagain/sentiment/issues/107) includes a thread that covers how "comparative score" works and how to scale / offset it.

TL;DR: Tokens are scored between -5 (highly negative) and 5 (highly positive) with 0 being "neutral". Comparative scores are simply SUM(tokens) / number of tokens. Details can be found in the AFINN whitepaper:
http://www2.imm.dtu.dk/pubdb/vie

[2017-09-01 20:49] #119 closed

[2017-09-12 02:19] nsantini commented on #116
Hi, I took the liberty of forking this great repo to add some features I needed, and they go inline with whats described in this issue.

I added node-spellchecker to check for typos, and also "levenshtein" to find the closest spell correction to the original word.

I also modified the "negation" feature to look backwards until a negation word or a new afinn word is found, to cover cases like "not

[2017-10-09 04:36] twiss commented on #117
Some of these are explicitly given a value in AFINN-en-165.txt, but those values aren't used because sentiment doesn't support phrases (#35). For example, it already contains:

[code]

[2017-10-10 11:37] therishabhpandey commented on #112
Should this be added to README or use separate file?

[2017-10-10 11:45] thisandagain commented on #112
Good question! I think adding to the README should still be ok for now. If things get too long I think my inclination would be to move some of the detailed documentation into a Github wiki.

[2017-10-10 11:52] therishabhpandey commented on #112
Ok. I'll use your comment on #107

[2017-10-11 06:54] therishabhpandey commented on #112
Check it out, #124. Looks alright.

[2017-10-15 21:17] #112 closed

[2017-10-26 11:42] dparlevliet commented on #110
On this subject, this link might help https://finnaarupnielsen.wordpress.com/2011/03/16/afinn-a-new-word-list-for-sentiment-analysis/

[2017-12-28 13:31] trainorpj opened #129 "Bundle for browser usage?"
Nice work on this library! I found it helpful for one of my pet-projects, but when I tried to use it in the browser I saw you don't have a bundled version.

Have you considered using something like [rollup](https://rollupjs.org/) to bundle you packages into a single deliverable?

[2018-01-02 22:03] trainorpj commented on #129
I made a bundled version for my own use.  [You can check out my branch](https://github.com/trainorpj/sentiment/commit/3c4025841ec5062ce75b6c0702ee74d8094f8f42?diff=unified).

I made a few big changes, so I didn't want to submit a PR.  I'm happy to discuss this further.

[2018-01-15 17:29] thisandagain commented on #129
Hi @trainorpj. I think most folks generally use webpack or browserify to bundle sentiment into a front-end project. I'd be happy to accept a PR that adds some dev dependency(s) to enable having a standalone bundle for this purpose though.

[2018-01-15 17:32] thisandagain commented on #104
@Ekliptor Good question. I think in order for me to feel good about adding an additional language I think we would need the translated `build/AFINN.json` file plus a labeled corpora (such as the labeled dataset we have of [Amazon, IMDB, and Yelp reviews from UCI](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences)) that permit us to evaluate the accuracy of those translations.

[2018-01-15 22:25] trainorpj commented on #129
Sure thing! I'll clean up my branch when I get a chance.

[2018-02-05 17:28] elyas-bhy opened #132 "Support smileys"
Currently we have no way of processing smileys since they are stripped away before analysis (in `tokenizer.js`).
Such a feature serves the same purpose as supporting emojis.

For example, here is a non-exhaustive list of smileys:

- :)
- :(
- :D
- :-D
- ;)
- :p

[2018-02-08 17:41] thisandagain commented on #116
@nsantini I think I would be interested in all three of these features as long as they were added in a way that is optional (as to preserve performance for those who need it). Curious to see how each of these features impact the validation tests (`make validate`).

[2018-02-08 17:44] thisandagain opened #133 "Replace makefile with npm scripts"
When I first built this thing I was using `Makefile`s for everything. While they work well for me, they cause a lot of problems for folks on Windows and other platforms where GNU Make is not available.

[2018-02-15 15:07] #133 closed

[2018-04-03 15:41] elyas-bhy opened #136 "Update code formatting"
Is maintaining compatibility with Node 4.x a priority, or could we bump it up to at least Node 6.9 (LTS)?
This would allow us to use the newer ES6 syntax, such as the `class` construct, `const`, `let`, arrow functions, etc.

Furthermore, could we update the linter to allow 2-spaces indents and 100 max line length?

[2018-04-13 05:46] benedictchen opened #137 "Please document the max range of each value"
It is not totally clear regarding the resulting values what the max value could be.

Please add to the documentation.

[2018-04-24 00:40] trakout commented on #137
It used to be +/- 5 (score, not the comparative score), however it appears that this is changed as I have gotten 6 or even 7 as a value.

[2018-04-25 15:24] thisandagain commented on #136
I think with the work coming in as part of #128 I'd be ok to do a major version change and update the minimum `engine` to Node 8.

I'd prefer to keep the style stuff where it is. It's a lot of work to maintain so many repos (personal, Scratch, Mozilla, etc.) and it's really helpful to have one consistent set of style rules across my stuff.

[2018-04-25 23:00] #104 closed

[2018-04-25 23:15] thisandagain commented on #136
Update: with `5.0.0` we have updated the minimum `engine` to Node 8.0.0. Happy to accept PRs that migrate over to usage of `const`, `let`, arrow functions, and ES6 class syntax. Note that our `eslint` config will need to be updated at the same time.

[2018-05-08 07:37] mathildebuenerd commented on #132
I did a function that does that

[code]

It's better to call that function after the negation detection, because even in a sentence with a negation, a smiley like :) is still positive.

[2018-05-21 02:12] ZM123 opened #141 "Support overwriting emoji"
Love this package, but is there a way to be able to overwrite the value of emoji in a similar way to overwriting word values? Thanks!

[2018-05-29 13:54] elyas-bhy commented on #141
This feature is already supported, see [Adding and overwriting words](https://github.com/thisandagain/sentiment#adding-and-overwriting-words):

Example:
[code]

Override the weight of the emoji label:
[code]

[2018-05-31 09:00] elyas-bhy commented on #141
Closing the issue. Feel free to re-open it if this doesn't meet your requirements.

[2018-05-31 09:00] #141 closed

[2018-06-13 15:27] pdw207 commented on #116
@thisandagain Is this still issue still open? @nsantini Did you still want to create a PR with this feature? Let me know if if it would be helpful pitching in.

[2018-06-13 17:50] thisandagain commented on #116
@pdw207 This is still open pending a PR. I'd be happy to review a PR from you if you want to pickup where @nsantini left off.

[2018-06-13 17:52] thisandagain commented on #129
On reflection I'd prefer that folks use something like webpack or browserify if they would like to include this in a client-side application. This helps keep the complexity of this repo down and is fairly normative with the rest of the NPM ecosystem.

[2018-06-13 17:52] #129 closed

[2018-06-13 18:38] nsantini commented on #116
solved the merge conflicts, but somebody more familiar with the changes that happened since I forked need to validate them :)

[2018-06-13 19:01] nsantini commented on #116
So, the sync_negation test case is failing. Looks like since I forked the logic to deal with negation of sentence has changed, so my change is double negating the score. But not sure where to look for the new logic

[2018-06-15 00:42] silvalexandre commented on #136
Hi, I am working on this issue and I was wondering if it is possible to use at least Node 8.3.0 for spread properties. Thanks.

[2018-06-19 02:58] pdw207 opened #146 "Code Coverage Badge"
You have good code coverage. What do you think of adding coveralls to Travis and a badge to the readme?

https://docs.travis-ci.com/user/coveralls/

[2018-06-19 17:24] pdw207 opened #147 "Provide calculation used to calculate score"
New feature request: display the score calculation. Something like the following:
[code]

[2018-06-20 01:45] pdw207 commented on #137
Can this be closed or does this issue indicate an update to the README? @trakout were you able to reproduce the bug?

[2018-06-20 02:19] pdw207 commented on #110
I think this is what you are looking for: https://old.datahub.io/dataset/twitter-sentiment-analysis
It also may be interesting examining how effective this works against longer texts, one example is the [Cornell Movie Review Dataset](http://www.cs.cornell.edu/people/pabo/movie-review-data/)

[2018-06-20 03:03] trakout commented on #137
@pdw207
Sure, just re-tested and was able to reproduce. I have a demo here, some setup required for the Twitter Auth. https://github.com/trakout/simple-sentiment

If you edit [this line](https://github.com/trakout/simple-sentiment/blob/master/component/analysis.js#L95), you can observe sentiment scores greater than 5 or less than -5.

If you don't want to go through the setup process, I snagged so

[2018-06-20 15:46] pdw207 commented on #137
@thisandagain I can take this on. Sounds like a good first issue to pick up.

[2018-06-21 01:54] pdw207 commented on #137
As @thisandagain mentioned:

In the example you provided there are 4 negative tokens: `[ 'crisis', 'no', 'crisis', 'no' ]` and no positive tokens.   Each token has a value between -5 and 5. `crisis` has a AFINN score of -3 and `no` AFINN score of -1, so `-3 +  -1 +  -3 + -1 = -8`.

[2018-06-21 01:55] pdw207 commented on #137
I think this issue can be closed.

[2018-08-09 21:53] pdf2e opened #150 "Feature Request: DefinitelyTyped typescript definitions"
Feature Request: DefinitelyTyped typescript definitions

[2018-08-17 14:50] angad19 opened #151 "Can this run in the browser?"
Can I install this on top of `create-react-app` and run it in the browser?

[2018-09-25 16:45] austinaryain commented on #151
@angad19 This is definitely possible. I can create a repo to show you, or you can just test it out yourself. :)

`npm install --save sentiment`

`var Sentiment = require('sentiment');
var sentiment = new Sentiment();`

Works as you would expect it to. I have created a simple demo with it that displays sentiment score under an Input element as the user types.

[2018-09-26 11:57] angad19 commented on #151
Thank you! This is really helpful!

[2018-09-27 11:19] pomarc opened #155 "inflected words and adjectives in other languages."
This code to see if a token has a corresponding AFINN label:
` if (!labels.hasOwnProperty(obj)) continue;`

in many non English language does not work for inflected words.

In English you say: "the cat is *stupid*" and "the cats are *stupid*" (btw cats are smart! :D )

In French you say: "le chat est *stupide*" and "les chats sont *stupides*".
The stemmed word "stupid" is flected into stupide and

[2018-10-10 07:43] #151 closed

[2018-10-16 09:03] kamranmushtaq opened #157 "want compiled score for array of phrases"
I want to have a compiled score of array of phrases ( for example compiled or single result for post sentiment against array of comments)

[2018-10-29 11:13] cristiano-belloni opened #158 "Support for 2-grams"
Hello,
I'm trying to override the AFINN scores for 2-grams, but it seems they don't work:

[code]

The effect is even more accentuated when a 2-gram would flip the overall score of a phrase; here "fucking good" reinforces a positive word, but the overall score is -1:

[code]

Would it be possible and a good idea to add support for overridden 2-grams?

[2019-01-08 11:45] elyas-bhy opened #160 "Inspiration from VADER"
I just stumbled upon [this article on VADER](https://medium.com/analytics-vidhya/simplifying-social-media-sentiment-analysis-using-vader-in-python-f9e6ec6fc52f).
Perhaps we can draw inspiration from it and incorporate some elements in our scoring strategy as explained in the article.

[2019-01-29 02:56] blazergame commented on #147
I have a PR for this: https://github.com/thisandagain/sentiment/pull/161

[2019-03-24 04:10] scottenriquez commented on #150
I wanted to share the TypeScript definition I created for a project in case anyone stumbles across this issue looking for a solution: https://gist.github.com/scottenriquez/8288baae4ed6c6e89ea9949759763235

I'm pretty new to TypeScript, so please feel free to give me any feedback. I'm also happy to help get this added to the DefinitelyTyped repository if whoever is maintaining this package would li

[2019-06-05 15:11] oleoneto opened #166 "Escape question marks along with other forms of punctuations"
`tokenize.js` ignores `!`, `.`, and other punctuation symbols already, yet it does not escape `?`.

[2019-08-22 14:48] #166 closed

[2019-08-22 14:48] thisandagain commented on #166
Resolved by GH-167

[2019-08-22 15:00] thisandagain commented on #147
Resolved in GH-161

[2019-08-22 15:00] #147 closed

[2019-08-22 15:00] #137 closed

[2019-12-25 16:45] thisandagain commented on #146
Resolved in https://github.com/thisandagain/sentiment/commit/2c1eb1dc371abf027e42d318b552da9111b48952

[2019-12-25 16:45] #146 closed

[2020-02-10 01:33] johnlongo opened #174 "All the messages are getting logged"
All the messages are getting logged, how do I turn that off

[2020-02-10 19:11] thisandagain commented on #174
@johnlongo Can you describe what you mean in more detail and/or provide a snippet of code that demonstrates your issue?

[2020-02-11 00:25] johnlongo commented on #174
I have it deployed in node-red, when I look in the logs I'm seeing all the tweets getting logged (see below

10 Feb 19:22:19 - [info] [Twitter Stream:f5e1ae8c.fcb118] Xanik Xeus: @realDonaldTrump @nytimes @DanaPerino @FoxNews https://t.co/7MhSh6IINs
10 Feb 19:22:19 - [info] [Twitter Stream:f5e1ae8c.fcb118] skip: language https://twitter.com/statuses/1227025010314948609
10 Feb 19:22:19 - [info] [Tw

[2020-02-11 00:30] johnlongo commented on #174
My Mistake I had an Issue with another node

[2020-02-11 00:30] #174 closed, assigned to nobody

[2020-03-19 13:40] auryn31 opened #175 "Inverse words if not"
Hy

is there a way to add inverses?
For example (`cats are not stupid`)? So that stupid is positiv in this situation?

Thanks for help

[2020-03-19 13:49] elyas-bhy commented on #175
This library already handles this case. Have you tested it?
Refer to the files [/languages/en/scoring-strategy.js](https://github.com/thisandagain/sentiment/blob/develop/languages/en/scoring-strategy.js) and [/languages/en/negators.json](https://github.com/thisandagain/sentiment/blob/develop/languages/en/negators.json) if you're curious on how that works.

I'm closing this issue since this is alre

[2020-03-19 13:49] #175 closed, assigned to nobody

[2020-03-19 13:52] auryn31 commented on #175
I want to add a new language and asked myself, how can i add the negators...

[2020-03-19 13:54] elyas-bhy commented on #175
Refer to [this README section](https://github.com/thisandagain/sentiment#adding-new-languages) to learn more about adding new languages.

[2020-03-19 13:57] auryn31 commented on #175
Thanks, but there is no part for negators.

Did i only have to add it to the language part with

[code]

Thanks for the help

[2020-03-19 14:31] elyas-bhy commented on #175
The negators are part of the scoring strategy, are not declared at the top-level. This is because some other languages have more complex negation constructs. Please refer to this repo's `languages/en` folder to see how to structure your files.

[2020-03-19 15:03] auryn31 commented on #175
Ok, thanks a lot.

[2020-05-28 16:39] Aditya94A opened #176 "Can someone recommend any learning resources?"
I'm looking to do sentiment analysis for news articles, simply looking for a positive/negative sentiment score to determine the 'tone' of the article.

How does this project's AFINN-165 wordlist approach compare to machine learning based approaches?

Can someone point to some learning resources? Would be a good idea to include this in readme as well.

[2020-05-28 16:59] Aditya94A commented on #176
Hmmm.

This project tells me that `A man hit and killed by train` is better news than `an agri-tech startup raising debt funding`.

[code]

[code]

😞

[2020-05-30 01:00] iojw commented on #150
I've been working with this package for a Typescript project of mine so I've just contributed types for it to DefinitelyTyped 🙂  Anyone requiring them can now install them from `@types/sentiment`.

[2020-06-26 16:01] thisandagain commented on #176
Hi @AdityaAnand1. I recommend that you review the following paper which talks about the most common ML-based approaches. This system is based on a valence word-list approach which is incredibly fast (good for doing large batches) and easy to port to other languages – but also limited in many ways (as you have discovered):

https://www.sciencedirect.com/science/article/pii/S0167923612001339

[2020-06-26 16:01] #176 closed, assigned to thisandagain

[2020-12-25 06:30] ralyodio commented on #137
I'm also wondering why I always get around .02 to -.02 for comparitve score. Everything I run this on is "barely" positive or "barely" negative. I'm trying to create an indicator to reflect the negativity and positivity of an article but the marker is pretty much always in the middle making it rather useless.

[2020-12-25 07:04] ralyodio opened #177 "is the comparitive number between -1 and 1?"
or is it -5 and 5?

I always get less than 1 or -1.

[2021-06-02 18:25] shamoons commented on #177
Same question.

[2022-04-07 15:54] deemeetree opened #178 "Why didn't you use the full range of emotions in the original NRC dictionary?"
The original NRC dictionary has more than the "positive" and the "negative": joy, anger, etc etc Any reason why you decided not to use them?

http://saifmohammad.com/WebPages/NRC-Emotion-Lexicon.htm

[2022-09-15 09:27] martin-richter-uk commented on #158
You could possibly add something like this to your code:
[code]

[2022-10-06 04:30] kacesensitive commented on #177
@ralyodio @shamoons i know this is old but i had the same question so i just dug around, the calculation is `tokens.length > 0 ? score / tokens.length : 0,`
so in the example
`{
    score: 1,
    comparative: 0.1111111111111111,
    calculation: [ { allergic: -2 }, { love: 3 } ],
    tokens: [
        'i',
        'love',
        'cats',
        'but',
        'i',
        'am',
        'allergic'